---
layout: layouts/base.njk

permalink: "/about.html"
title: Über Uns

---

<h1>{{ title }}</h1>


Seit Sommer 2022 ist die studentische Theatergruppe Sternenwanderer ein fester Bestandteil der universitären Theaterszene Tübingens. 
<br><br>
Hervorgegangen aus einem Gothic Literature Kurs präsentierten sie bereits erfolgrich Stücke wie <em>King in Yellow</em>, <em>Thread</em>, <em>Maria Stuart</em>, <em>Berge des Wahnsinns</em> und <em>Ein Engel kommt nach Babylon</em> auf der Brechtbau-Bühne. 
<br><br>
Die Gruppe zeichnet sich durch ihre gemeinschaftliche Arbeitsweise aus, bei der alle Mitglieder ihre individuellen Fähigkeiten in die Inszenierung, Technik und Kostüm und Bühnengestaltung einbringt. 
<br><br>
Alle, die sich für das Theater begeistern, sind herzlich willkommen, ebenfalls Mitglieder zu werden.