---
layout: layouts/base.njk

permalink: "/about.html"
title: Über Uns

---

<h1>{{ title }}</h1>

Wir sind eine studentische Theatergruppe, die seit dem Wintersemester 2022 am Brechtbau in Tübingen aktiv ist.

Unsere erste Produktion war <em>The King in Yellow</em>.

<br><br>
<h1>Über diese Webseite</h1>

